@using EntityLayer.Concrete
@model List<Announcement>

<div class="blog" id="blog">
	<div class="container">
		<h3 class="tittle">News</h3>
		<p class="heading-btm-w3ls">Latest news from our farms and fields!</p>
		<div class="blog-grid-w3-agileits">
			<div class=" col-md-7 blog-img1-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal2"></a>
			</div>
			<div class=" col-md-5 blog-info-w3layouts">
				<h6> <a href="#" data-toggle="modal" data-target="#myModal2">@ViewBag.newsTitle</a></h6>
				<div class="inner-info">
					<a href="#" class="blog-text-w3ls bar"></a><span>@ViewBag.newsDate</span>
					<p class="para-w3-agileits">@ViewBag.Desc</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal2">Read More</a>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>In Harvest</h4>
				<img src="images/b1.jpg" alt=" " class="img-responsive">
				<h5>@ViewBag.newsTitle</h5>
				<p>@ViewBag.Desc</p>
			</div>
		</div>
	</div>
</div>

